.venv
__pycache__/
*.py[cod]
*.sqlite3
.DS_Store
*.log
db.sqlite3
media/
staticfiles/
node_modules/
dist/
.env
.idea/
.vscode/
frontend/node_modules/
frontend/dist/
backend/config/*.json
.cloudflared/
run.sh
docker-compose.local.yml
deploy_key
deploy_key.pub
norskkurs_dump.sql
norskkurs-local.sql
scripts/github_deploy_setup.sh
